.header
	display: flex
	justify-content: space-around
	align-items: center
	padding-top: 1rem

	&-row
		align-items: center

.subtitle-main
	text-align: left
	margin: 0
	font-size: 1.5rem
	letter-spacing: 2px

.title-main
	margin-top: 0.5rem
	letter-spacing: 3px
	text-align: center
	text-transform: uppercase

.tag
	padding: 5px 15px
	border-radius: 8px

	&-wrapper
		display: flex
		flex-wrap: wrap
		justify-content: center

	&-active
		background-color: #222

.main-img
	border-radius: 50%
	box-shadow: $shadow
	transition: $transition

	&:hover
		box-shadow: $shadow-big

	&-wrapper
		max-width: 100px
		margin: auto
